@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Geologica:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        @apply font-sans text-boom-gray;
    }
}

@layer utilities {
    .hero-gradient {
        background: linear-gradient(-45deg, #79BFEA, #FFC2F5, #E5E863, #79BFEA);
        background-size: 400% 400%;
        animation: gradientShift 15s ease infinite;
    }
    
    .delay-200 {
        animation-delay: 0.2s;
        opacity: 0;
    }
    
    .delay-400 {
        animation-delay: 0.4s;
        opacity: 0;
    }
}